<div class="whole">
  <div class="input-forms">
    <%= form_with(model: @kifu, local: true) do |f| %>

      <%# 対局日 %>
      <div class="input-field">
        <%= f.label :date, '対局日' %><br />
        <%= raw sprintf(
                    f.date_select(
                        :date,
                        use_month_numbers: true,
                        start_year:        2015,
                        end_year:          2025,
                        default:           Date.today,
                        date_separator:    '%s'),
                    '年 ', '月 ') + '日'
        %>
      </div><br>

      <div class="input-field">
        <%= f.label :opponent, '対戦相手' %><br />
        <%= f.text_field :opponent %>
      </div>

      <div class="input-field">
        <%= f.label :result_id, '結果' %><br />
        <%= f.text_field :result_id, Result.all, :id, :name, {} %>
      </div>

      <div class="input-field">
        <%= f.label :type_id, '戦型' %><br />
        <%= f.text_field :type_id, Type.all, :id, :name, {}  %>
      </div>

      <div class="input-field">
        <%= f.label :kifu, '棋譜' %><br />
        <%= f.text_area :kifu, placeholder: '棋譜を貼り付け', size: "40x10"  %>
      </div>

      <div class="back">
        <%= link_to "棋譜一覧へ戻る", root_path, class: "back-btn" %>
      </div>
    <% end %>
  </div>
</div>