<div class="index-wrapper">

  <div class="new-link">
    <%= link_to 'æ£‹è­œæŠ•ç¨¿ãƒšãƒ¼ã‚¸ã¸', new_kifu_path %>
  </div>

  <h2>ï¼œæ£‹è­œæ¤œç´¢ï¼ž</h2>
  <%= form_with(url: search_kifus_path, local: true, method: :get, class: "search-form") do |f| %>

    <div class="selection-field">
      <%= f.label :opponent, 'ç›¸æ‰‹ï¼š' %>
      <%= f.text_field :keyword, placeholder: "åå‰ã®ä¸€éƒ¨ã§ã‚‚", class: "search-input" %>
    </div>

    <div class="selection-field">
      <%= f.label :result_id, 'çµæžœï¼š' %>
      <%= f.collection_select :result_id, Result.all, :id, :name, {} %>
    </div>

    <div class="selection-field">
      <%= f.label :type_id, 'æˆ¦åž‹ï¼š' %>
      <%= f.collection_select :type_id, Type.all, :id, :name, {} %>
    </div>

    <%= f.submit "ðŸ”Ž", class: "search-btn" %>

  <% end %>

  <h2>ï¼œæ£‹è­œä¸€è¦§ï¼ž</h2>

  <div class="kifu-lists">
    <% @kifus.each do |kifu| %>
      <div class="one-kifu">

        <%# æ—¥ä»˜ %>
        <span class="date">
          <%= kifu.date %>
        </span>

        <%# ç›¸æ‰‹ %>
        <span class="opponent">
          <%= kifu.opponent %>
        </span>

        <%# çµæžœ %>
        <span class="result">
          <%= kifu.result.name %>
        </span>

        <%# æˆ¦åž‹ %>
        <span class="type">
          <%= kifu.type.name %>
        </span>

        <%# æ£‹è­œãƒªãƒ³ã‚¯ %>
        <span class="kifu-page">
          <%= link_to 'æ£‹è­œ', kifu_path(kifu.id)  %>
        </span>

      </div>
    <% end %>
  </div>
</div>