<div class="index-wrapper">

  <div class="new-link">
    <%= link_to '棋譜投稿ページへ', new_kifu_path %>
  </div>

  <h2>＜棋譜検索＞</h2>
  <%= form_with(url: search_kifus_path, local: true, method: :get, class: "search-form") do |f| %>
    <%= f.label :date, '相手：' %>
    <%= f.text_field :keyword, placeholder: "", class: "search-input" %>
    <%= f.submit "検索", class: "search-btn" %>
  <% end %>

  <h2>＜棋譜一覧＞</h2>

  <div class="kifu-lists">
    <% @kifus.each do |kifu| %>
      <div class="one-kifu">

        <%# 日付 %>
        <span class="date">
          <%= kifu.date %>
        </span>

        <%# 相手 %>
        <span class="opponent">
          <%= kifu.opponent %>
        </span>

        <%# 結果 %>
        <span class="result">
          <%= kifu.result.name %>
        </span>

        <%# 戦型 %>
        <span class="type">
          <%= kifu.type.name %>
        </span>

        <%# 棋譜リンク %>
        <span class="kifu-page">
          <%= link_to '棋譜', kifu_path(kifu.id)  %>
        </span>

      </div>
    <% end %>
  </div>
</div>